body {
background-image: url("../assets/images/test2.png");
z-index: -15;
background-repeat: no-repeat;
background-size: cover;

}

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .header {
    text-align: center;
  }
  #footer {
    color: antiquewhite;
    text-align: center;
  }
  #details {
    color: white;;
    font-size: 20px;
  }
 
  #plot {
    background-color: rgba(0, 0, 0, .7) !important;
  }
  
